<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="xjc.config" type="System.Configuration.NameValueFileSectionHandler" restartOnExternalChanges="true"/>
    <section name="xjc.classes" type="System.Configuration.NameValueFileSectionHandler" restartOnExternalChanges="true"/>
  </configSections>
  <xjc.config configSource="Config.xml"/>
  <xjc.classes configSource="Classes.xml"/>
  <connectionStrings>
    <clear/>
    <add name="SQLServer" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\v11.0;integrated security=True;Initial Catalog=test1"/>
    <add name="Oracle" providerName="Oracle.DataAccess.Client" connectionString="User Id=system;Password=manager;Data Source=xe"/>
  </connectionStrings>
</configuration>